/* Add CSS Styling */
.odd{
    background-color: pink;
}

.but-cooler{
    font-size: 24px;
}

#two{
    font-size: 36px;
    color: blue;
}

#four{
    background-color: greenyellow;
    font-weight: bold;
}